<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.base.product.IProductRebateRuleRelationMapper">

<!-- 所有字段 -->
	<sql id="Base_Column_List">
	id  
	,preposition_supplier_id 
	,preposition_product_id 
	,rebate_rule_id 
	,flag 
	,supplier_id 
	</sql>
	
<!-- 字段映射 -->
	<resultMap id="BaseResultMap" type="com.pzj.base.entity.product.ProductRebateRuleRelation">
	    <id column="id" property="id" jdbcType="BIGINT" />
		<result column="preposition_supplier_id" jdbcType="BIGINT" property="prepositionSupplierId" />
		<result column="preposition_product_id" jdbcType="VARCHAR" property="prepositionProductId" />
		<result column="rebate_rule_id" jdbcType="BIGINT" property="rebateRuleId" />
		<result column="flag" jdbcType="VARCHAR" property="flag" />
		<result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
	</resultMap>

<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select  <include refid="Base_Column_List" />
		from product_rebate_rule_relation
		where id = #{id,jdbcType=BIGINT}
	</select>

<!-- 删除 -->	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_rebate_rule_relation where id = #{id,jdbcType=BIGINT}
    </delete>

<!-- 通用查询条件 -->
	<sql id="sql_of_where">
		WHERE 1=1 
		<if test="bParam != null" >
			<if test="bParam.id != null"> AND id = #{bParam.id,jdbcType=BIGINT} </if>
			<if test="bParam.prepositionSupplierId != null"> AND preposition_supplier_id = #{bParam.prepositionSupplierId,jdbcType=BIGINT} </if>
			<if test="bParam.prepositionProductId != null"> AND preposition_product_id = #{bParam.prepositionProductId,jdbcType=VARCHAR} </if>
			<if test="bParam.rebateRuleId != null"> AND rebate_rule_id = #{bParam.rebateRuleId,jdbcType=BIGINT} </if>
			<if test="bParam.flag != null"> AND flag = #{bParam.flag,jdbcType=VARCHAR} </if>
			<if test="bParam.supplierId != null"> AND supplier_id = #{bParam.supplierId,jdbcType=VARCHAR} </if>
		</if>
	</sql>
	
<!-- 通用分页查询 -->
	<select id="queryByParamMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from product_rebate_rule_relation
		<include refid="sql_of_where" />
		<if test="pParam != null">
			<if test="pParam.orderByClause == null" > order by id desc</if>
			<if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
			<if test="pParam.startIndex != null and pParam.pageSize != null" >
			  limit #{pParam.startIndex} , #{pParam.pageSize}
			</if>
		</if>
	</select>
	
	<!-- 通用分页查询记录总数 -->
	<select id="countByParamMap" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(id) from product_rebate_rule_relation
		<include refid="sql_of_where" />
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="com.pzj.base.entity.product.ProductRebateRuleRelation" useGeneratedKeys="true" keyProperty="id">
		insert into product_rebate_rule_relation 
		<trim prefix="(" suffix=")" suffixOverrides=",">
				id, 
			<if test="prepositionSupplierId != null">
			    preposition_supplier_id,
			</if>
			<if test="prepositionProductId != null">
			    preposition_product_id,
			</if>
			<if test="rebateRuleId != null">
			    rebate_rule_id,
			</if>
			<if test="flag != null">
			    flag,
			</if>
			<if test="supplierId != null">
			    supplier_id,
			</if> 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			     #{id,jdbcType=BIGINT}, 
			<if test="prepositionSupplierId != null">
			    #{prepositionSupplierId,jdbcType=BIGINT},
			</if>
			<if test="prepositionProductId != null">
			    #{prepositionProductId,jdbcType=VARCHAR},
			</if>
			<if test="rebateRuleId != null">
			    #{rebateRuleId,jdbcType=BIGINT},
			</if>
			<if test="flag != null">
			    #{flag,jdbcType=VARCHAR},
			</if>
			<if test="supplierId != null">
			    #{supplierId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
<!-- 批量插入 请根据业务修改默认值-->	
    <insert id="insertBatch"  parameterType="java.util.List">
		insert into product_rebate_rule_relation 
		(id  
		,preposition_supplier_id 
		,preposition_product_id 
		,rebate_rule_id 
		,flag 
		,supplier_id  
		) 
		values
		<foreach collection="list" item="item" separator=",">
		(#{item.id,jdbcType=BIGINT}  
			<choose>  
				<when test="item.prepositionSupplierId != null">,#{item.prepositionSupplierId ,jdbcType=BIGINT}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.prepositionProductId != null">,#{item.prepositionProductId ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.rebateRuleId != null">,#{item.rebateRuleId ,jdbcType=BIGINT}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.flag != null">,#{item.flag ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.supplierId != null">,#{item.supplierId ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose> 
		)
		</foreach>
	</insert>

<!-- 更新 -->
	<update id="updateByPrimaryKey" parameterType="com.pzj.base.entity.product.ProductRebateRuleRelation">
		update product_rebate_rule_relation
		<set>
			<if test="prepositionSupplierId != null" >
             preposition_supplier_id = #{prepositionSupplierId,jdbcType=BIGINT},
            </if>
			<if test="prepositionProductId != null" >
             preposition_product_id = #{prepositionProductId,jdbcType=VARCHAR},
            </if>
			<if test="rebateRuleId != null" >
             rebate_rule_id = #{rebateRuleId,jdbcType=BIGINT},
            </if>
			<if test="flag != null" >
             flag = #{flag,jdbcType=VARCHAR},
            </if>
			<if test="supplierId != null" >
             supplier_id = #{supplierId,jdbcType=VARCHAR},
            </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
<!-- 批量更新 -->
	<update id="updateBatchByPrimaryKey"  parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update product_rebate_rule_relation 
                <set>
                  <if test="item.prepositionSupplierId != null" >
                    preposition_supplier_id = #{item.prepositionSupplierId,jdbcType=BIGINT},
                  </if>
                  <if test="item.prepositionProductId != null" >
                    preposition_product_id = #{item.prepositionProductId,jdbcType=VARCHAR},
                  </if>
                  <if test="item.rebateRuleId != null" >
                    rebate_rule_id = #{item.rebateRuleId,jdbcType=BIGINT},
                  </if>
                  <if test="item.flag != null" >
                    flag = #{item.flag,jdbcType=VARCHAR},
                  </if>
                  <if test="item.supplierId != null" >
                    supplier_id = #{item.supplierId,jdbcType=VARCHAR},
                  </if>
                </set>
                where id = #{item.id,jdbcType=BIGINT}
         </foreach>
	</update>
</mapper>