<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.base.product.IProductScenicRelationMapper">

<!-- 所有字段 -->
    <sql id="Base_Column_List">
    id  
    ,scenicId 
    ,rel_id 
    ,rel_type 
    ,supplier_id 
    ,target_supplier_id 
    </sql>
    
<!-- 字段映射 -->
    <resultMap id="BaseResultMap" type="com.pzj.base.entity.product.ProductScenicRelation">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="scenicId" jdbcType="BIGINT" property="scenicId" />
        <result column="rel_id" jdbcType="BIGINT" property="relId" />
        <result column="rel_type" jdbcType="VARCHAR" property="relType" />
        <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
        <result column="target_supplier_id" jdbcType="VARCHAR" property="targetSupplierId" />
    </resultMap>

<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select  <include refid="Base_Column_List" />
		from product_scenic_relation
		where id = #{id,jdbcType=BIGINT}
	</select>

<!-- 删除 -->	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_scenic_relation where id = #{id,jdbcType=BIGINT}
    </delete>

<!-- 通用查询条件 -->
	<sql id="sql_of_where">
		WHERE 1=1 
		<if test="bParam != null" >
			<if test="bParam.id != null"> AND id = #{bParam.id,jdbcType=BIGINT} </if>
			<if test="bParam.scenicId != null"> AND scenicId = #{bParam.scenicId,jdbcType=BIGINT} </if>
			<if test="bParam.relId != null"> AND rel_id = #{bParam.relId,jdbcType=BIGINT} </if>
			<if test="bParam.relType != null"> AND rel_type = #{bParam.relType,jdbcType=VARCHAR} </if>
			<if test="bParam.supplierId != null"> AND supplier_id = #{bParam.supplierId,jdbcType=VARCHAR} </if>
			<if test="bParam.targetSupplierId != null"> AND target_supplier_id = #{bParam.targetSupplierId,jdbcType=VARCHAR} </if>
		</if>
	</sql>
	
<!-- 通用分页查询 -->
	<select id="queryByParamMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from product_scenic_relation
		<include refid="sql_of_where" />
		<if test="pParam != null">
            <if test="pParam.orderByClause == null" > order by id desc</if>
			<if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
			<if test="pParam.startIndex != null and pParam.pageSize != null" >
			  limit #{pParam.startIndex} , #{pParam.pageSize}
			</if>
		</if>
	</select>
	
	<!-- 通用分页查询记录总数 -->
	<select id="countByParamMap" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(id) from product_scenic_relation
		<include refid="sql_of_where" />
	</select>
	
    <!-- 插入 -->
    <insert id="insert" parameterType="com.pzj.base.entity.product.ProductScenicRelation" useGeneratedKeys="true" keyProperty="id">
        insert into product_scenic_relation 
        <trim prefix="(" suffix=")" suffixOverrides=",">
                id, 
            <if test="scenicId != null">
                scenicId,
            </if>
            <if test="relId != null">
                rel_id,
            </if>
            <if test="relType != null">
                rel_type,
            </if>
            <if test="supplierId != null">
                supplier_id,
            </if>
            <if test="targetSupplierId != null">
                target_supplier_id,
            </if> 
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                 #{id,jdbcType=BIGINT}, 
            <if test="scenicId != null">
                #{scenicId,jdbcType=BIGINT},
            </if>
            <if test="relId != null">
                #{relId,jdbcType=BIGINT},
            </if>
            <if test="relType != null">
                #{relType,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null">
                #{supplierId,jdbcType=VARCHAR},
            </if>
            <if test="targetSupplierId != null">
                #{targetSupplierId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
<!-- 批量插入 请根据业务修改默认值--> 
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into product_scenic_relation 
        (id  
        ,scenicId 
        ,rel_id 
        ,rel_type 
        ,supplier_id 
        ,target_supplier_id  
        ) 
        values
        <foreach collection="list" item="item" separator=",">
        (#{item.id,jdbcType=BIGINT}  
            <choose>  
                <when test="item.scenicId != null">,#{item.scenicId ,jdbcType=BIGINT}</when>
                <otherwise>,0</otherwise>
            </choose>
            <choose>  
                <when test="item.relId != null">,#{item.relId ,jdbcType=BIGINT}</when>
                <otherwise>,0</otherwise>
            </choose>
            <choose>  
                <when test="item.relType != null">,#{item.relType ,jdbcType=VARCHAR}</when>
                <otherwise>,''</otherwise>
            </choose>
            <choose>  
                <when test="item.supplierId != null">,#{item.supplierId ,jdbcType=VARCHAR}</when>
                <otherwise>,''</otherwise>
            </choose>
            <choose>  
                <when test="item.targetSupplierId != null">,#{item.targetSupplierId ,jdbcType=VARCHAR}</when>
                <otherwise>,''</otherwise>
            </choose> 
        )
        </foreach>
    </insert>

<!-- 更新 -->
    <update id="updateByPrimaryKey" parameterType="com.pzj.base.entity.product.ProductScenicRelation">
        update product_scenic_relation
        <set>
            <if test="scenicId != null" >
             scenicId = #{scenicId,jdbcType=BIGINT},
            </if>
            <if test="relId != null" >
             rel_id = #{relId,jdbcType=BIGINT},
            </if>
            <if test="relType != null" >
             rel_type = #{relType,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null" >
             supplier_id = #{supplierId,jdbcType=VARCHAR},
            </if>
            <if test="targetSupplierId != null" >
             target_supplier_id = #{targetSupplierId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
<!-- 批量更新 -->
    <update id="updateBatchByPrimaryKey"  parameterType="java.util.List">
         <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update product_scenic_relation 
                <set>
                  <if test="item.scenicId != null" >
                    scenicId = #{item.scenicId,jdbcType=BIGINT},
                  </if>
                  <if test="item.relId != null" >
                    rel_id = #{item.relId,jdbcType=BIGINT},
                  </if>
                  <if test="item.relType != null" >
                    rel_type = #{item.relType,jdbcType=VARCHAR},
                  </if>
                  <if test="item.supplierId != null" >
                    supplier_id = #{item.supplierId,jdbcType=VARCHAR},
                  </if>
                  <if test="item.targetSupplierId != null" >
                    target_supplier_id = #{item.targetSupplierId,jdbcType=VARCHAR},
                  </if>
                </set>
                where id = #{item.id,jdbcType=BIGINT}
         </foreach>
    </update>
	<!-- 根据objIds或relIds查询 -->
  <select id="findByIdsMap" resultMap="BaseResultMap"  parameterType="map">
     select
     <include refid="Base_Column_List" />
     from product_scenic_relation 
     <where>
        <if test="scenicId != null" >
           and scenicId in (
            <foreach collection="scenicId" item="_scenicId" separator=",">
                #{_scenicId}
            </foreach>
            )
        </if>
        <if test="relId != null" >
           and rel_id in (
            <foreach collection="relId" item="_relId" separator=",">
                #{_relId}
            </foreach>
            )
        </if>
        <if test="relType != null" >
           and rel_type = #{relType}
        </if>
     </where>
     order by rel_id
    </select>
    
    <delete id="deleteByParam" parameterType="com.pzj.base.entity.product.ProductScenicRelation">
         delete from product_scenic_relation
       <where>
	        <if test="scenicId != null" >
	           and scenicId = #{scenicId}
	        </if>
	        <if test="relId != null" >
	           and rel_id = #{relId}
	        </if>
	        <if test="relType != null" >
	           and rel_type = #{relType}
	        </if>
       </where>
    </delete>
    
<!-- 查询返利景区关联 -->
    <select id="queryScenicRelationByParam" parameterType="java.util.Map" resultType="com.pzj.base.entity.product.ProductScenicRelation">
        select a.scenicId as scenicId,b.name as scenicName,a.rel_id as relId,c.name as relationName,a.target_supplier_id as targetSupplierId
         from product_scenic_relation a join product_scenic b 
        on a.scenicId=b.id and a. rel_type='scenic' join product_scenic c on a.rel_id=c.id 
        <if test="bParam != null">
            <if test="bParam.supplierId != null" > and a.supplier_id = #{bParam.supplierId}</if>
            <choose> 
                <when test="bParam.scenicName != null and bParam.relationName != null" >
			            and (b.name like #{bParam.scenicName}"%" 
			            and c.name like #{bParam.relationName}"%")
                </when>
                <otherwise>
                    <if test="bParam.scenicName != null" > and b.name like #{bParam.scenicName}"%" </if>
    	            <if test="bParam.relationName != null" > and c.name like #{bParam.relationName}"%" </if>
                </otherwise>
            </choose>
        </if>
        group by a.scenicId,a.rel_id
        <if test="pParam != null">
            <if test="pParam.orderByClause == null" > order by b.id desc</if>
            <if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
            <if test="pParam.startIndex != null and pParam.pageSize != null" >
              limit #{pParam.startIndex} , #{pParam.pageSize}
            </if>
        </if>
    </select>
    
<!-- 查询返利景区关联 -->
    <select id="countScenicRelationByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(z.id) from
        (select a.id as id
         from product_scenic_relation a join product_scenic b 
        on a.scenicId=b.id and a. rel_type='scenic' join product_scenic c on a.rel_id=c.id
        <if test="bParam != null">
            <choose> 
                <when test="bParam.scenicName != null and bParam.relationName != null" >
                        and (b.name like #{bParam.scenicName}"%" 
                        and c.name like #{bParam.relationName}"%")
                </when>
                <otherwise>
                    <if test="bParam.scenicName != null" > and b.name like #{bParam.scenicName}"%" </if>
                    <if test="bParam.relationName != null" > and c.name like #{bParam.relationName}"%" </if>
                </otherwise>
            </choose>
        </if>
        group by a.scenicId,a.rel_id) z
    </select>
</mapper>