<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.base.product.ISysAreaMapper">

<!-- 所有字段 -->
	<sql id="Base_Column_List">
	id  
	,parent_id 
	,parent_ids 
	,code 
	,name 
	,type 
	,create_by 
	,create_date 
	,update_by 
	,update_date 
	,remarks 
	,del_flag 
	</sql>
	
<!-- 字段映射 -->
	<resultMap id="BaseResultMap" type="com.pzj.base.entity.product.SysArea">
	    <id column="id" property="id" jdbcType="BIGINT" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="del_flag" jdbcType="CHAR" property="delFlag" />
	</resultMap>

<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select  <include refid="Base_Column_List" />
		from sys_area
		where id = #{id,jdbcType=BIGINT}
	</select>

<!-- 删除 -->	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_area where id = #{id,jdbcType=BIGINT}
    </delete>

<!-- 通用查询条件 -->
	<sql id="sql_of_where">
		WHERE 1=1 
		<if test="bParam != null" >
			<if test="bParam.id != null"> AND id = #{bParam.id,jdbcType=BIGINT} </if>
			<if test="bParam.parentId != null"> AND parent_id = #{bParam.parentId,jdbcType=VARCHAR} </if>
			<if test="bParam.parentIds != null"> AND parent_ids = #{bParam.parentIds,jdbcType=VARCHAR} </if>
			<if test="bParam.code != null"> AND code = #{bParam.code,jdbcType=VARCHAR} </if>
			<if test="bParam.name != null"> AND name = #{bParam.name,jdbcType=VARCHAR} </if>
			<if test="bParam.type != null"> AND type = #{bParam.type,jdbcType=CHAR} </if>
			<if test="bParam.createBy != null"> AND create_by = #{bParam.createBy,jdbcType=VARCHAR} </if>
			<if test="bParam.createDate != null"> AND create_date = #{bParam.createDate,jdbcType=TIMESTAMP} </if>
			<if test="bParam.updateBy != null"> AND update_by = #{bParam.updateBy,jdbcType=VARCHAR} </if>
			<if test="bParam.updateDate != null"> AND update_date = #{bParam.updateDate,jdbcType=TIMESTAMP} </if>
			<if test="bParam.remarks != null"> AND remarks = #{bParam.remarks,jdbcType=VARCHAR} </if>
			<if test="bParam.delFlag != null"> AND del_flag = #{bParam.delFlag,jdbcType=CHAR} </if>
		</if>
	</sql>
	
<!-- 通用分页查询 -->
	<select id="queryByParamMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sys_area
		<include refid="sql_of_where" />
		<if test="pParam != null">
			<if test="pParam.orderByClause == null" > order by id desc</if>
			<if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
			<if test="pParam.startIndex != null and pParam.pageSize != null" >
			  limit #{pParam.startIndex} , #{pParam.pageSize}
			</if>
		</if>
	</select>
	
	<!-- 通用分页查询记录总数 -->
	<select id="countByParamMap" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(id) from sys_area
		<include refid="sql_of_where" />
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="com.pzj.base.entity.product.SysArea" useGeneratedKeys="true" keyProperty="id">
		insert into sys_area 
		<trim prefix="(" suffix=")" suffixOverrides=",">
				id, 
			<if test="parentId != null">
			    parent_id,
			</if>
			<if test="parentIds != null">
			    parent_ids,
			</if>
			<if test="code != null">
			    code,
			</if>
			<if test="name != null">
			    name,
			</if>
			<if test="type != null">
			    type,
			</if>
			<if test="createBy != null">
			    create_by,
			</if>
			<if test="createDate != null">
			    create_date,
			</if>
			<if test="updateBy != null">
			    update_by,
			</if>
			<if test="updateDate != null">
			    update_date,
			</if>
			<if test="remarks != null">
			    remarks,
			</if>
			<if test="delFlag != null">
			    del_flag,
			</if> 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			     #{id,jdbcType=BIGINT}, 
			<if test="parentId != null">
			    #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="parentIds != null">
			    #{parentIds,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
			    #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
			    #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
			    #{type,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
			    #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
			    #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
			    #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
			    #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remarks != null">
			    #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
			    #{delFlag,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	
<!-- 批量插入 请根据业务修改默认值-->	
    <insert id="insertBatch"  parameterType="java.util.List">
		insert into sys_area 
		(id  
		,parent_id 
		,parent_ids 
		,code 
		,name 
		,type 
		,create_by 
		,create_date 
		,update_by 
		,update_date 
		,remarks 
		,del_flag  
		) 
		values
		<foreach collection="list" item="item" separator=",">
		(#{item.id,jdbcType=BIGINT}  
			<choose>  
				<when test="item.parentId != null">,#{item.parentId ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.parentIds != null">,#{item.parentIds ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.code != null">,#{item.code ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.name != null">,#{item.name ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.type != null">,#{item.type ,jdbcType=CHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.createBy != null">,#{item.createBy ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.createDate != null">,#{item.createDate ,jdbcType=TIMESTAMP}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.updateBy != null">,#{item.updateBy ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.updateDate != null">,#{item.updateDate ,jdbcType=TIMESTAMP}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.remarks != null">,#{item.remarks ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose>
			<choose>  
				<when test="item.delFlag != null">,#{item.delFlag ,jdbcType=CHAR}</when>
				<otherwise>,''</otherwise>
			</choose> 
		)
		</foreach>
	</insert>

<!-- 更新 -->
	<update id="updateByPrimaryKey" parameterType="com.pzj.base.entity.product.SysArea">
		update sys_area
		<set>
			<if test="parentId != null" >
             parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
			<if test="parentIds != null" >
             parent_ids = #{parentIds,jdbcType=VARCHAR},
            </if>
			<if test="code != null" >
             code = #{code,jdbcType=VARCHAR},
            </if>
			<if test="name != null" >
             name = #{name,jdbcType=VARCHAR},
            </if>
			<if test="type != null" >
             type = #{type,jdbcType=CHAR},
            </if>
			<if test="createBy != null" >
             create_by = #{createBy,jdbcType=VARCHAR},
            </if>
			<if test="createDate != null" >
             create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
			<if test="updateBy != null" >
             update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
			<if test="updateDate != null" >
             update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
			<if test="remarks != null" >
             remarks = #{remarks,jdbcType=VARCHAR},
            </if>
			<if test="delFlag != null" >
             del_flag = #{delFlag,jdbcType=CHAR},
            </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
<!-- 批量更新 -->
	<update id="updateBatchByPrimaryKey"  parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update sys_area 
                <set>
                  <if test="item.parentId != null" >
                    parent_id = #{item.parentId,jdbcType=VARCHAR},
                  </if>
                  <if test="item.parentIds != null" >
                    parent_ids = #{item.parentIds,jdbcType=VARCHAR},
                  </if>
                  <if test="item.code != null" >
                    code = #{item.code,jdbcType=VARCHAR},
                  </if>
                  <if test="item.name != null" >
                    name = #{item.name,jdbcType=VARCHAR},
                  </if>
                  <if test="item.type != null" >
                    type = #{item.type,jdbcType=CHAR},
                  </if>
                  <if test="item.createBy != null" >
                    create_by = #{item.createBy,jdbcType=VARCHAR},
                  </if>
                  <if test="item.createDate != null" >
                    create_date = #{item.createDate,jdbcType=TIMESTAMP},
                  </if>
                  <if test="item.updateBy != null" >
                    update_by = #{item.updateBy,jdbcType=VARCHAR},
                  </if>
                  <if test="item.updateDate != null" >
                    update_date = #{item.updateDate,jdbcType=TIMESTAMP},
                  </if>
                  <if test="item.remarks != null" >
                    remarks = #{item.remarks,jdbcType=VARCHAR},
                  </if>
                  <if test="item.delFlag != null" >
                    del_flag = #{item.delFlag,jdbcType=CHAR},
                  </if>
                </set>
                where id = #{item.id,jdbcType=BIGINT}
         </foreach>
	</update>
</mapper>