<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hht.mapper.BTableInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hht.models.BTableInfo" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="table_code" property="tableCode" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="table_type_code" property="tableTypeCode" jdbcType="VARCHAR" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="book_pemission_type" property="bookPemissionType" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="x_point" property="xPoint" jdbcType="REAL" />
    <result column="y_point" property="yPoint" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, table_code, table_name, table_type_code, section_id, capacity, book_pemission_type,
    position, x_point, y_point
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from b_table_info
    where id = #{id,jdbcType=CHAR}
  </select>
<!-- 根据桌号查询桌台信息 -->
  <select id="selectByTableCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from b_table_info
    where table_code = #{tableCode,jdbcType=CHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b_table_info
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hht.models.BTableInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 22 17:28:30 CST 2016.
    -->
    insert into b_table_info (id, table_code, table_name, 
      table_type_code, section_id, capacity, 
      book_pemission_type, position, x_point, 
      y_point)
    values (#{id,jdbcType=CHAR}, #{tableCode,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{tableTypeCode,jdbcType=VARCHAR}, #{sectionId,jdbcType=INTEGER}, #{capacity,jdbcType=INTEGER}, 
      #{bookPemissionType,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{xPoint,jdbcType=REAL}, 
      #{yPoint,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hht.models.BTableInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 22 17:28:30 CST 2016.
    -->
    insert into b_table_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableCode != null" >
        table_code,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableTypeCode != null" >
        table_type_code,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="bookPemissionType != null" >
        book_pemission_type,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="xPoint != null" >
        x_point,
      </if>
      <if test="yPoint != null" >
        y_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="tableCode != null" >
        #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableTypeCode != null" >
        #{tableTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="bookPemissionType != null" >
        #{bookPemissionType,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="xPoint != null" >
        #{xPoint,jdbcType=REAL},
      </if>
      <if test="yPoint != null" >
        #{yPoint,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hht.models.BTableInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 22 17:28:30 CST 2016.
    -->
    update b_table_info
    <set >
      <if test="tableCode != null" >
        table_code = #{tableCode,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableTypeCode != null" >
        table_type_code = #{tableTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="bookPemissionType != null" >
        book_pemission_type = #{bookPemissionType,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="xPoint != null" >
        x_point = #{xPoint,jdbcType=REAL},
      </if>
      <if test="yPoint != null" >
        y_point = #{yPoint,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hht.models.BTableInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 22 17:28:30 CST 2016.
    -->
    update b_table_info
    set table_code = #{tableCode,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_type_code = #{tableTypeCode,jdbcType=VARCHAR},
      section_id = #{sectionId,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      book_pemission_type = #{bookPemissionType,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      x_point = #{xPoint,jdbcType=REAL},
      y_point = #{yPoint,jdbcType=REAL}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>