<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzj.base.sku.mapper.XzSkuMapper">
  <resultMap id="BaseResultMap" type="com.pzj.base.sku.entity.XzSku">
  <id column="ID" jdbcType="INTEGER" property="id" />
  <result column="BOSSID" jdbcType="INTEGER" property="bossid" />
  <result column="CATEGORY_ID" jdbcType="INTEGER" property="categoryId" />
  <result column="SKU_EXT_CODE" jdbcType="VARCHAR" property="skuExtCode" />
  <result column="SUPPLIER_CODE" jdbcType="VARCHAR" property="supplierCode" />
  <result column="INVENTORY" jdbcType="INTEGER" property="inventory" />
  <result column="UNLIMITED_INVENTORY" jdbcType="BIT" property="unlimitedInventory" />
  <result column="IS_SIMPLE" jdbcType="BIT" property="isSimple" />
  <result column="ALLOCATION" jdbcType="VARCHAR" property="allocation" />
  <result column="VISIBILITY" jdbcType="VARCHAR" property="visibility" />
  <result column="MAINTENANCE_TIME" jdbcType="INTEGER" property="maintenanceTime" />
  <result column="ALIAS_TO" jdbcType="INTEGER" property="aliasTo" />
  <result column="PRICE_PER" jdbcType="VARCHAR" property="pricePer" />
  <result column="DEFAULT_CALENDAR_STATUS" jdbcType="VARCHAR" property="defaultCalendarStatus" />
  <result column="START_PRICE" jdbcType="DECIMAL" property="startPrice" />
  <result column="PKG_START_PRICE" jdbcType="DECIMAL" property="pkgStartPrice" />
  <result column="SKU_GROUPING" jdbcType="VARCHAR" property="skuGrouping" />
  <result column="SKU_PARENT_CHILD" jdbcType="VARCHAR" property="skuParentChild" />
  <result column="LIST_IMAGE" jdbcType="VARCHAR" property="listImage" />
  <result column="SORT" jdbcType="INTEGER" property="sort" />
  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
  <result column="IS_DELETED" jdbcType="BIT" property="isDeleted" />
  <result column="SKU_STATUS" jdbcType="INTEGER" property="skuStatus" />
    <result column="DATE_INVENTORY_CONTROL" jdbcType="INTEGER" property="dateInventoryControl" />
</resultMap>

  <resultMap id="queryResultMap" type="com.pzj.base.entity.sku.SkuQueryDto">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BOSSID" jdbcType="INTEGER" property="bossid" />
    <result column="CATEGORY_ID" jdbcType="INTEGER" property="categoryId" />
    <result column="SKU_EXT_CODE" jdbcType="VARCHAR" property="skuExtCode" />
    <result column="SUPPLIER_CODE" jdbcType="VARCHAR" property="supplierCode" />
    <result column="INVENTORY" jdbcType="INTEGER" property="inventory" />
    <result column="UNLIMITED_INVENTORY" jdbcType="BIT" property="unlimitedInventory" />
    <result column="IS_SIMPLE" jdbcType="BIT" property="isSimple" />
    <result column="ALLOCATION" jdbcType="VARCHAR" property="allocation" />
    <result column="VISIBILITY" jdbcType="VARCHAR" property="visibility" />
    <result column="MAINTENANCE_TIME" jdbcType="INTEGER" property="maintenanceTime" />
    <result column="ALIAS_TO" jdbcType="INTEGER" property="aliasTo" />
    <result column="PRICE_PER" jdbcType="VARCHAR" property="pricePer" />
    <result column="DEFAULT_CALENDAR_STATUS" jdbcType="VARCHAR" property="defaultCalendarStatus" />
    <result column="START_PRICE" jdbcType="DECIMAL" property="startPrice" />
    <result column="PKG_START_PRICE" jdbcType="DECIMAL" property="pkgStartPrice" />
    <result column="SKU_GROUPING" jdbcType="VARCHAR" property="skuGrouping" />
    <result column="LIST_IMAGE" jdbcType="VARCHAR" property="listImage" />
    <result column="SKU_PARENT_CHILD" jdbcType="VARCHAR" property="skuParentChild" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="IS_DELETED" jdbcType="BIT" property="isDeleted" />
    <result column="SKU_TITLE" jdbcType="VARCHAR" property="skuTitle" />
    <result column="SUMMARY" jdbcType="VARCHAR" property="summary" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="MARKER_TITLE" jdbcType="VARCHAR" property="markerTitle" />
    <result column="MARKER_DESCRIPTION" jdbcType="VARCHAR" property="markerDescription" />
    <result column="MARKER_LINK_TEXT" jdbcType="VARCHAR" property="markerLinkText" />
    <result column="MAP_ZOOM" jdbcType="INTEGER" property="mapZoom" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="EMAIL_NOTIFICATION" jdbcType="VARCHAR" property="emailNotification" />
    <result column="MORE_INFO_URL" jdbcType="VARCHAR" property="moreInfoUrl" />
    <result column="VIDEO_URL" jdbcType="VARCHAR" property="videoUrl" />
    <result column="VIDEO_START_TIME" jdbcType="VARCHAR" property="videoStartTime" />
    <result column="SKU_STATUS" jdbcType="INTEGER" property="skuStatus" />
    <result column="DATE_INVENTORY_CONTROL" jdbcType="INTEGER" property="dateInventoryControl" />
  </resultMap>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BOSSID, CATEGORY_ID, SKU_EXT_CODE, SUPPLIER_CODE, INVENTORY, UNLIMITED_INVENTORY, 
    IS_SIMPLE, ALLOCATION, VISIBILITY, MAINTENANCE_TIME, ALIAS_TO, PRICE_PER, DEFAULT_CALENDAR_STATUS, 
    START_PRICE,PKG_START_PRICE,SKU_GROUPING,  LIST_IMAGE,SKU_PARENT_CHILD,SKU_STATUS,SORT, CREATE_TIME, DELETE_TIME,DATE_INVENTORY_CONTROL ,IS_DELETED
  </sql>



  <select id="selectByExample" parameterType="com.pzj.base.sku.entity.XzSkuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from XZ_SKU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start!=null and start>=0">
      limit #{start} , #{pageSize}
    </if>
  </select>

  <sql id="Query_Column_List">
    su.ID, su.BOSSID, CATEGORY_ID, SKU_EXT_CODE, SUPPLIER_CODE, INVENTORY, UNLIMITED_INVENTORY,
    IS_SIMPLE, ALLOCATION, VISIBILITY, MAINTENANCE_TIME, ALIAS_TO, PRICE_PER, DEFAULT_CALENDAR_STATUS,
    START_PRICE, PKG_START_PRICE,SKU_GROUPING, LIST_IMAGE,SKU_PARENT_CHILD, SKU_STATUS,SORT, CREATE_TIME, DELETE_TIME, IS_DELETED , SKU_TITLE , SUMMARY, LOCATION, MARKER_TITLE, MARKER_DESCRIPTION,
    MARKER_LINK_TEXT, MAP_ZOOM, LANGUAGE, EMAIL_NOTIFICATION, MORE_INFO_URL, VIDEO_URL, VIDEO_START_TIME,DATE_INVENTORY_CONTROL
  </sql>

  <select id="selectByPage" parameterType="com.pzj.base.entity.sku.SkuQueryDto" resultMap="queryResultMap">
    select
    <if test="distinct">
      DISTINCT
    </if>
    <include refid="Query_Column_List"/>
    from XZ_SKU su,XZ_SKU_I18N sui
    where su.id = sui.sku_id
    <if test="visibility != null">
      and su.VISIBILITY = #{visibility,jdbcType=VARCHAR}
    </if>
    <if test="skuStatus != null">
      and su.SKU_STATUS = #{skuStatus,jdbcType=VARCHAR}
    </if>
    <if test="categoryId!=null">
      and su.CATEGORY_ID =  #{categoryId,jdbcType=INTEGER}
    </if>

    <if test="id!=null">
      and su.ID !=  #{id,jdbcType=INTEGER}
    </if>

    <if test="keyword">
      and ( su.SKU_EXT_CODE  like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') or sui.SKU_TITLE  like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%'))
    </if>

    and su.IS_DELETED = 0

    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start!=null and start>=0">
      limit #{start} , #{pageSize}
    </if>
  </select>

  <select id="selectByPageCount" parameterType="com.pzj.base.entity.sku.SkuQueryDto" resultType="java.lang.Integer">
    select COUNT(*)
    from XZ_SKU su,XZ_SKU_I18N sui
    where su.id = sui.sku_id
    <if test="visibility != null">
      and su.VISIBILITY = #{visibility,jdbcType=VARCHAR}
    </if>
    <if test="skuStatus != null">
      and su.SKU_STATUS = #{skuStatus,jdbcType=VARCHAR}
    </if>
    <if test="categoryId!=null">
      and su.CATEGORY_ID =  #{categoryId,jdbcType=INTEGER}
    </if>
    <if test="keyword">
      and ( su.SKU_EXT_CODE =  #{keyword,jdbcType=VARCHAR} or sui.SKU_TITLE =  #{keyword,jdbcType=VARCHAR})
    </if>
    and su.IS_DELETED = 0
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start!=null and start>=0">
      limit #{start} , #{pageSize}
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from XZ_SKU
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from XZ_SKU
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pzj.base.sku.entity.XzSkuExample">
    delete from XZ_SKU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert"  parameterType="com.pzj.base.sku.entity.XzSku">
    insert into XZ_SKU (ID, BOSSID, CATEGORY_ID, 
      SKU_EXT_CODE, SUPPLIER_CODE, INVENTORY, 
      UNLIMITED_INVENTORY, IS_SIMPLE, ALLOCATION, 
      VISIBILITY, MAINTENANCE_TIME, ALIAS_TO, 
      PRICE_PER, DEFAULT_CALENDAR_STATUS, START_PRICE, PKG_START_PRICE,SKU_GROUPING,
      LIST_IMAGE, SKU_PARENT_CHILD,SORT, SKU_STATUS,
      CREATE_TIME, DELETE_TIME, DATE_INVENTORY_CONTROL ,IS_DELETED
      )
    values (#{id,jdbcType=INTEGER}, #{bossid,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{skuExtCode,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, #{inventory,jdbcType=INTEGER}, 
      #{unlimitedInventory,jdbcType=BIT}, #{isSimple,jdbcType=BIT}, #{allocation,jdbcType=VARCHAR}, 
      #{visibility,jdbcType=VARCHAR}, #{maintenanceTime,jdbcType=INTEGER}, #{aliasTo,jdbcType=INTEGER}, 
      #{pricePer,jdbcType=VARCHAR}, #{defaultCalendarStatus,jdbcType=VARCHAR}, #{startPrice,jdbcType=DECIMAL},  #{pkgStartPrice,jdbcType=DECIMAL},  #{skuGrouping,jdbcType=INTEGER},
      #{listImage,jdbcType=VARCHAR}, #{skuParentChild,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{skuStatus,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP},#{dateInventoryControl,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective"   parameterType="com.pzj.base.sku.entity.XzSku">
    insert into XZ_SKU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bossid != null">
        BOSSID,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="skuExtCode != null">
        SKU_EXT_CODE,
      </if>
      <if test="supplierCode != null">
        SUPPLIER_CODE,
      </if>
      <if test="inventory != null">
        INVENTORY,
      </if>
      <if test="unlimitedInventory != null">
        UNLIMITED_INVENTORY,
      </if>
      <if test="isSimple != null">
        IS_SIMPLE,
      </if>
      <if test="allocation != null">
        ALLOCATION,
      </if>
      <if test="visibility != null">
        VISIBILITY,
      </if>
      <if test="maintenanceTime != null">
        MAINTENANCE_TIME,
      </if>
      <if test="aliasTo != null">
        ALIAS_TO,
      </if>
      <if test="pricePer != null">
        PRICE_PER,
      </if>
      <if test="defaultCalendarStatus != null">
        DEFAULT_CALENDAR_STATUS,
      </if>
      <if test="startPrice != null">
        START_PRICE,
      </if>
      <if test="pkgStartPrice != null">
        PKG_START_PRICE,
      </if>
      <if test="skuGrouping != null">
        SKU_GROUPING,
      </if>
      <if test="listImage != null">
        LIST_IMAGE,
      </if>

      <if test="skuParentChild != null">
        SKU_PARENT_CHILD,
      </if>

      <if test="sort != null">
        SORT,
      </if>
      <if test="skuStatus != null">
        SKU_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="deleteTime != null">
        DELETE_TIME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="dateInventoryControl != null">
        DATE_INVENTORY_CONTROL ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bossid != null">
        #{bossid,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="skuExtCode != null">
        #{skuExtCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="unlimitedInventory != null">
        #{unlimitedInventory,jdbcType=BIT},
      </if>
      <if test="isSimple != null">
        #{isSimple,jdbcType=BIT},
      </if>
      <if test="allocation != null">
        #{allocation,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        #{visibility,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceTime != null">
        #{maintenanceTime,jdbcType=INTEGER},
      </if>
      <if test="aliasTo != null">
        #{aliasTo,jdbcType=INTEGER},
      </if>
      <if test="pricePer != null">
        #{pricePer,jdbcType=VARCHAR},
      </if>
      <if test="defaultCalendarStatus != null">
        #{defaultCalendarStatus,jdbcType=VARCHAR},
      </if>
      <if test="startPrice != null">
        #{startPrice,jdbcType=DECIMAL},
      </if>
      <if test="pkgStartPrice != null">
        #{pkgStartPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuGrouping != null">
        #{skuGrouping,jdbcType=INTEGER},
      </if>
      <if test="listImage != null">
        #{listImage,jdbcType=VARCHAR},
      </if>
      <if test="skuParentChild != null">
        #{skuParentChild,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="skuStatus !=null">
        #{skuStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dateInventoryControl != null">
        #{dateInventoryControl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pzj.base.sku.entity.XzSkuExample" resultType="java.lang.Integer">
    select count(*) from XZ_SKU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update XZ_SKU
    <set>

      <if test="record.categoryId != null">
        CATEGORY_ID = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.skuExtCode != null">
        SKU_EXT_CODE = #{record.skuExtCode,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierCode != null">
        SUPPLIER_CODE = #{record.supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inventory != null">
        INVENTORY = #{record.inventory,jdbcType=INTEGER},
      </if>
      <if test="record.unlimitedInventory != null">
        UNLIMITED_INVENTORY = #{record.unlimitedInventory,jdbcType=BIT},
      </if>
      <if test="record.isSimple != null">
        IS_SIMPLE = #{record.isSimple,jdbcType=BIT},
      </if>
      <if test="record.allocation != null">
        ALLOCATION = #{record.allocation,jdbcType=VARCHAR},
      </if>
      <if test="record.visibility != null">
        VISIBILITY = #{record.visibility,jdbcType=VARCHAR},
      </if>
      <if test="record.maintenanceTime != null">
        MAINTENANCE_TIME = #{record.maintenanceTime,jdbcType=INTEGER},
      </if>
      <if test="record.aliasTo != null">
        ALIAS_TO = #{record.aliasTo,jdbcType=INTEGER},
      </if>
      <if test="record.pricePer != null">
        PRICE_PER = #{record.pricePer,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultCalendarStatus != null">
        DEFAULT_CALENDAR_STATUS = #{record.defaultCalendarStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.startPrice != null">
        START_PRICE = #{record.startPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.pkgStartPrice != null">
        PKG_START_PRICE=  #{record.pkgStartPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.skuGrouping != null">
        SKU_GROUPING= #{record.skuGrouping,jdbcType=INTEGER},
      </if>
      <if test="record.listImage != null">
        LIST_IMAGE = #{record.listImage,jdbcType=VARCHAR},
      </if>
      <if test="record.skuParentChild != null">
        SKU_PARENT_CHILD = #{record.skuParentChild,jdbcType=VARCHAR},
      </if>

      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>

      <if test="record.skuStatus !=null">
        SKU_STATUS = #{skuStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteTime != null">
        DELETE_TIME = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.dateInventoryControl != null">
        DATE_INVENTORY_CONTROL= #{record.dateInventoryControl,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update XZ_SKU
    set
      CATEGORY_ID = #{record.categoryId,jdbcType=INTEGER},
      SKU_EXT_CODE = #{record.skuExtCode,jdbcType=VARCHAR},
      SUPPLIER_CODE = #{record.supplierCode,jdbcType=VARCHAR},
      INVENTORY = #{record.inventory,jdbcType=INTEGER},
      UNLIMITED_INVENTORY = #{record.unlimitedInventory,jdbcType=BIT},
      IS_SIMPLE = #{record.isSimple,jdbcType=BIT},
      ALLOCATION = #{record.allocation,jdbcType=VARCHAR},
      VISIBILITY = #{record.visibility,jdbcType=VARCHAR},
      MAINTENANCE_TIME = #{record.maintenanceTime,jdbcType=INTEGER},
      ALIAS_TO = #{record.aliasTo,jdbcType=INTEGER},
      PRICE_PER = #{record.pricePer,jdbcType=VARCHAR},
      DEFAULT_CALENDAR_STATUS = #{record.defaultCalendarStatus,jdbcType=VARCHAR},
      START_PRICE = #{record.startPrice,jdbcType=DECIMAL},
      PKG_START_PRICE=  #{record.pkgStartPrice,jdbcType=DECIMAL},
      SKU_GROUPING= #{record.skuGrouping,jdbcType=INTEGER},
      LIST_IMAGE = #{record.listImage,jdbcType=VARCHAR},
      SKU_PARENT_CHILD = #{record.skuParentChild,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=INTEGER},
      SKU_STATUS = #{skuStatus,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      DELETE_TIME = #{record.deleteTime,jdbcType=TIMESTAMP},
      IS_DELETED = #{record.isDeleted,jdbcType=BIT},
    DATE_INVENTORY_CONTROL= #{record.dateInventoryControl,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pzj.base.sku.entity.XzSku">
    update XZ_SKU
    <set>

      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="skuExtCode != null">
        SKU_EXT_CODE = #{skuExtCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        INVENTORY = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="unlimitedInventory != null">
        UNLIMITED_INVENTORY = #{unlimitedInventory,jdbcType=BIT},
      </if>
      <if test="isSimple != null">
        IS_SIMPLE = #{isSimple,jdbcType=BIT},
      </if>
      <if test="allocation != null">
        ALLOCATION = #{allocation,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        VISIBILITY = #{visibility,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceTime != null">
        MAINTENANCE_TIME = #{maintenanceTime,jdbcType=INTEGER},
      </if>
      <if test="aliasTo != null">
        ALIAS_TO = #{aliasTo,jdbcType=INTEGER},
      </if>
      <if test="pricePer != null">
        PRICE_PER = #{pricePer,jdbcType=VARCHAR},
      </if>
      <if test="defaultCalendarStatus != null">
        DEFAULT_CALENDAR_STATUS = #{defaultCalendarStatus,jdbcType=VARCHAR},
      </if>
      <if test="startPrice != null">
        START_PRICE = #{startPrice,jdbcType=DECIMAL},
      </if>
      <if test="pkgStartPrice != null">
        PKG_START_PRICE=  #{pkgStartPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuGrouping != null">
        SKU_GROUPING= #{skuGrouping,jdbcType=INTEGER},
      </if>

      <if test="listImage != null">
        LIST_IMAGE = #{listImage,jdbcType=VARCHAR},
      </if>

      <if test="skuParentChild != null">
        SKU_PARENT_CHILD = #{skuParentChild,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="skuStatus !=null">
        SKU_STATUS = #{skuStatus,jdbcType=INTEGER},
      </if>

      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dateInventoryControl != null">
        DATE_INVENTORY_CONTROL= #{dateInventoryControl,jdbcType=INTEGER},
      </if>
    </set>

    where ID = #{id,jdbcType=INTEGER} and BOSSID = #{bossid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pzj.base.sku.entity.XzSku">
    update XZ_SKU
    set
      CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      SKU_EXT_CODE = #{skuExtCode,jdbcType=VARCHAR},
      SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      INVENTORY = #{inventory,jdbcType=INTEGER},
      UNLIMITED_INVENTORY = #{unlimitedInventory,jdbcType=BIT},
      IS_SIMPLE = #{isSimple,jdbcType=BIT},
      ALLOCATION = #{allocation,jdbcType=VARCHAR},
      VISIBILITY = #{visibility,jdbcType=VARCHAR},
      MAINTENANCE_TIME = #{maintenanceTime,jdbcType=INTEGER},
      ALIAS_TO = #{aliasTo,jdbcType=INTEGER},
      PRICE_PER = #{pricePer,jdbcType=VARCHAR},
      DEFAULT_CALENDAR_STATUS = #{defaultCalendarStatus,jdbcType=VARCHAR},
      START_PRICE = #{startPrice,jdbcType=DECIMAL},
      PKG_START_PRICE=  #{pkgStartPrice,jdbcType=DECIMAL},
      SKU_GROUPING= #{skuGrouping,jdbcType=INTEGER},
      LIST_IMAGE = #{listImage,jdbcType=VARCHAR},
      SKU_PARENT_CHILD = #{skuParentChild,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      SKU_STATUS = #{skuStatus,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=BIT},
      DATE_INVENTORY_CONTROL= #{dateInventoryControl,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER} and  BOSSID = #{bossid,jdbcType=INTEGER}
  </update>
  
  <insert id="insertBatch" parameterType="java.util.List">
  	insert into XZ_SKU values 
  	<trim suffixOverrides="," >
	  	<foreach collection="list" item="sku" open="" close="" separator=",">
			(
			#{sku.id,jdbcType=INTEGER},
			#{sku.bossid,jdbcType=INTEGER}, 
			#{sku.categoryId,jdbcType=INTEGER}, 
			#{sku.skuExtCode,jdbcType=VARCHAR}, 
			#{sku.supplierCode,jdbcType=VARCHAR}, 
			#{sku.inventory,jdbcType=INTEGER}, 
			#{sku.unlimitedInventory,jdbcType=BIT}, 
			#{sku.isSimple,jdbcType=BIT}, 
			#{sku.allocation,jdbcType=VARCHAR}, 
			#{sku.visibility,jdbcType=VARCHAR}, 
			#{sku.maintenanceTime,jdbcType=INTEGER}, 
			#{sku.aliasTo,jdbcType=INTEGER}, 
			#{sku.pricePer,jdbcType=VARCHAR}, 
			#{sku.defaultCalendarStatus,jdbcType=VARCHAR}, 
			#{sku.startPrice,jdbcType=DECIMAL},  
			#{sku.pkgStartPrice,jdbcType=DECIMAL},  
			#{sku.skuGrouping,jdbcType=INTEGER},
			#{sku.listImage,jdbcType=VARCHAR}, 
			#{sku.skuParentChild,jdbcType=VARCHAR}, 
			#{sku.sort,jdbcType=INTEGER}, 
			#{sku.skuStatus,jdbcType=INTEGER},
			#{sku.createTime,jdbcType=TIMESTAMP}, 
			#{sku.deleteTime,jdbcType=TIMESTAMP},
			#{sku.dateInventoryControl,jdbcType=INTEGER}, 
			#{sku.isDeleted,jdbcType=BIT}
			)
  		</foreach>
  	</trim>
  </insert>
</mapper>