<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzj.base.sku.mapper.XzSkuAttrI18nMapper">
  <resultMap id="BaseResultMap" type="com.pzj.base.sku.entity.XzSkuAttrI18n">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BOSSID" jdbcType="INTEGER" property="bossid" />
    <result column="SKU_ATTR_ID" jdbcType="INTEGER" property="skuAttrId" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="PARAMS" jdbcType="VARCHAR" property="params" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BOSSID, SKU_ATTR_ID, LANGUAGE, PARAMS
  </sql>
  <select id="selectByExample" parameterType="com.pzj.base.sku.entity.XzSkuAttrI18nExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from XZ_SKU_ATTR_I18N
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start!=null and start>=0">
      limit #{start} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from XZ_SKU_ATTR_I18N
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from XZ_SKU_ATTR_I18N
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pzj.base.sku.entity.XzSkuAttrI18nExample">
    delete from XZ_SKU_ATTR_I18N
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert"   parameterType="com.pzj.base.sku.entity.XzSkuAttrI18n">
    insert into XZ_SKU_ATTR_I18N (ID, BOSSID, SKU_ATTR_ID, 
      LANGUAGE, PARAMS)
    values (#{id,jdbcType=INTEGER}, #{bossid,jdbcType=INTEGER}, #{skuAttrId,jdbcType=INTEGER}, 
      #{language,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"   parameterType="com.pzj.base.sku.entity.XzSkuAttrI18n">
    insert into XZ_SKU_ATTR_I18N
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bossid != null">
        BOSSID,
      </if>
      <if test="skuAttrId != null">
        SKU_ATTR_ID,
      </if>
      <if test="language != null">
        LANGUAGE,
      </if>
      <if test="params != null">
        PARAMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bossid != null">
        #{bossid,jdbcType=INTEGER},
      </if>
      <if test="skuAttrId != null">
        #{skuAttrId,jdbcType=INTEGER},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pzj.base.sku.entity.XzSkuAttrI18nExample" resultType="java.lang.Integer">
    select count(*) from XZ_SKU_ATTR_I18N
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update XZ_SKU_ATTR_I18N
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.skuAttrId != null">
        SKU_ATTR_ID = #{record.skuAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.language != null">
        LANGUAGE = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.params != null">
        PARAMS = #{record.params,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update XZ_SKU_ATTR_I18N
    set ID = #{record.id,jdbcType=INTEGER},
      SKU_ATTR_ID = #{record.skuAttrId,jdbcType=INTEGER},
      LANGUAGE = #{record.language,jdbcType=VARCHAR},
      PARAMS = #{record.params,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pzj.base.sku.entity.XzSkuAttrI18n">
    update XZ_SKU_ATTR_I18N
    <set>

      <if test="skuAttrId != null">
        SKU_ATTR_ID = #{skuAttrId,jdbcType=INTEGER},
      </if>
      <if test="language != null">
        LANGUAGE = #{language,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        PARAMS = #{params,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER} and  BOSSID = #{bossid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pzj.base.sku.entity.XzSkuAttrI18n">
    update XZ_SKU_ATTR_I18N
    set
      SKU_ATTR_ID = #{skuAttrId,jdbcType=INTEGER},
      LANGUAGE = #{language,jdbcType=VARCHAR},
      PARAMS = #{params,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER} and  BOSSID = #{bossid,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="java.util.List">
  	insert into XZ_SKU_ATTR_I18N values 
  	<trim suffixOverrides="," >
		<foreach collection="list" item="sku" open="" close="" separator=",">
			(
			#{sku.id,jdbcType=INTEGER}, 
			#{sku.bossid,jdbcType=INTEGER},
			#{sku.skuAttrId,jdbcType=INTEGER},
			#{sku.language,jdbcType=VARCHAR}, 
			#{sku.params,jdbcType=VARCHAR}
			)
  		</foreach>
  	</trim>
  </insert>
</mapper>